.game {
  width: 500px;
  height: 500px;
}

.level-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.edit-controls {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: black;
  padding: 2px;
}

.edit-controls button {
  border-radius: 0;
  border: 1px solid #fff;
  background-color: lightslategray;
  color: #fff;
  min-width: unset;
  cursor: pointer;
  padding: 2px;
  margin: 2px;
}

.edit-controls .active {
  background-color: #fff;
  color: blue;
}

.edit-actions {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background-color: black;
}

.edit-actions button {
  background-color: green;
  margin: 2px;
}
