:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #ffffff;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
}

button {
  border-radius: 0;
  border: 5px solid #fff;
  background-color: transparent;
  color: #fff;
  min-width: 250px;
  cursor: pointer;
  padding: 10px 20px;
}

button:hover {
  background-color: #fff;
  color: #242424;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 10px 0;
  padding: 0;
}

a {
  color: red;
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 20px;
}

.footer {
  padding-top: 20px;
}
